<%= form_for(@my_virtual_collection) do |f| %>
  <% if @my_virtual_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_virtual_collection.errors.count, "error") %> prohibited this my_virtual_collection from being saved:</h2>

      <ul>
      <% @my_virtual_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
