<div id="new-collection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-collection-label" aria-hidden="true"></div>

<div id="edit-collection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-collection-label" aria-hidden="true"></div>

<div id="new-collection-item-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-collection-item-label" aria-hidden="true"></div>

<div id="new-collection-items-by-query-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-collection-items-by-query-label" aria-hidden="true"></div>

