<div id="new-collection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-collection-label" aria-hidden="true"></div>

<div id="edit-collection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-collection-label" aria-hidden="true"></div>

