<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="new-collection-item-label">New Item</h3>
    </div>
    <div class="modal-body">
      <%=
          render :partial => 'form_collection_item',
                 :locals => {
                         :form_controller => 'items',
                         :form_action => 'create',
                         :form_class  => 'new_item',
                         :form_id     => 'new_item',
                         :form_method => 'post' }
      %>
    </div>
  </div>
</div>
