    <div id="documents">

<% count = @first_idx %>
      <% @items.each do |item| %>

      <% proxy_for = item.proxy_for.first.rdf_subject.to_s %>

      <div class="document blacklight-book clearfix" data-bibid="3652730">
        <div id="OCLC:" class="iconcover bookcover" data-oclc="">
          <img class="img-polaroid" src="/assets/cornell/layout/placeholder-item-a090c5301bffac37449f945ee8060d06.png" alt="">
          <i class="fa fa-book"></i>
        </div>
        <div class="document-data">
          <div class="remove-item">
            <%= link_to 'Remove', collection_item_path(@collection.id,item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <h2 class="blacklight-title_display">
            <%= count %>.
            <a href="<%= proxy_for %>" data-counter="6">To kill a mockingbird</a>
            <span class="blacklight-pub_date_display">1999</span>
          </h2>
          <span class="blacklight-title_uniform_display"></span>
          <div class="data-block">
            <span class="blacklight-author_display">Lee, Harper.</span>
            <span class="format">
              <i class="fa fa-book"></i>
              Book
            </span>
            <span class="blacklight-pub_info_display">New York : HarperCollinsPublishers, 1999.</span>
            <span class="blacklight-language_display">English</span>
            <span class="blacklight-edition_display">40th anniversary ed.</span>
          </div>
          <div id="blacklight-avail-3652730" class="status">
            <i class="fa fa-clock-o" title="Available by request"></i>
            <span class="location">Olin Library</span>
            <span class="callnumber">PS3562.E353 T6x 1995</span>
          </div>
          <abbr class="unapi-id" title="3652730"></abbr>
        </div>
      </div>

        <% count += 1 %>
        <% break if count > 20 %>
      <% end %>
    </div>
