<div id="sortAndPerPage" class="clearfix">
  <div class="page_links">
    &laquo; Previous |
      <span class="page_entries">
        <strong><%= @first_idx %></strong>
        -
        <strong><%= @last_idx %></strong>
        of
        <strong><%= @num_items %></strong>
        | Next &raquo;
      </span>
  </div>

  <div class="search-widgets pull-right"><div id="sort-dropdown" class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Sort by relevance <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=score+desc%2C+pub_date_sort+desc%2C+title_sort+asc">relevance</a></li>
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=pub_date_sort+desc%2C+title_sort+asc">year descending</a></li>
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=pub_date_sort+asc%2C+title_sort+asc">year ascending</a></li>
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=author_sort+asc%2C+title_sort+asc">author A-Z</a></li>
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=author_sort+desc%2C+title_sort+asc">author Z-A</a></li>
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=title_sort+asc%2C+pub_date_sort+desc">title A-Z</a></li>
      <li><a href="/?q=archery&amp;search_field=all_fields&amp;sort=title_sort+desc%2C+pub_date_sort+desc">title Z-A</a></li>
    </ul>
  </div>

    <span class="sr-only">Number of results to display per page</span>
    <div id="per_page-dropdown" class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        20 per page <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/?per_page=10&amp;q=archery&amp;search_field=all_fields">10<span class="hide-text"> per page</span></a></li>
        <li><a href="/?per_page=20&amp;q=archery&amp;search_field=all_fields">20<span class="hide-text"> per page</span></a></li>
        <li><a href="/?per_page=50&amp;q=archery&amp;search_field=all_fields">50<span class="hide-text"> per page</span></a></li>
        <li><a href="/?per_page=100&amp;q=archery&amp;search_field=all_fields">100<span class="hide-text"> per page</span></a></li>
            </ul>
    </div>

      </div>
    </div>
