<div class="row">

  <%= render 'collection_lists' %>

  <div class="span9 main-text">
    <%= render 'selected_collection_header' %>
    <%= render 'selected_collection_range' %>
    <%= render 'selected_collection_items' %>
  </div>

</div>